@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    /* colors */
    --color-DeepBlue: #16152C;
    --coloc-Black: #000000;
    --color-White: #FFFFFF;

    /* Fonts */
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
}
