---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import departements from "../assets/departements.geojson.json";
import CarteMedecins from "../components/Carte_Medecins.astro";
import GraphIST from "../components/Graph_IST.astro";
import Graph_APL from "../components/Graph_APL.astro";
import Figure_Medecins from "../components/Figure_Medecins.astro";


let dpt = departements.features[Math.floor(Math.random() * departements.features.length)]?.properties?.nom ?? "Paris";
const search = await fetch(`https://geocoding-api.open-meteo.com/v1/search?name=${dpt}`)
.then(response => response.json());
const lat = search?.results?.[0]?.latitude ?? 0;
const long = search?.results?.[0]?.longitude ?? 0;
console.log(search, long, lat);



let input = "";
let suggestions = [];
const handleSearch = ((e)=>{
  input += e.target.value;
})
---

<!-- str.normalize("NFD").replace(/[\u0300-\u036f]/g, ""); -->

<Layout>
  <div class="flex gap-4">
    <div class="grid grid-cols-3 gap-4 *:h-fill grow-3">
      <div class="card col-span-2 ">
          
      </div>
      <div class="card">
        <Figure_Medecins Code_Commune="01001" />
      </div>
      <div class="card col-span-3">
      </div>
      <div class="card ">
        <!-- <Graph_APL /> -->
      </div>
      <div class="card col-span-2">
        <!-- <GraphIST /> -->
      </div>
    </div>
    <div>
      <div class="*:mx-2 *:rounded-lg">
        <input 
        onchange={(e) => handleSearch(e)}
        type="text"
        class="bg-(--color-white)">
        <button class="p-2 bg-(--color-black)">Rechercher</button>
      </div>
      <CarteMedecins />
    </div>
  </div>
</Layout>


<style>
  :global(svg g[aria-label^="tip"] text) {
    fill: black !important;
  }