---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import departements from "../assets/departements.geojson.json";
import CarteMedecins from "../components/Carte_Medecins.astro";
import GraphIST from "../components/Graph_IST.astro";
import Graph_APL from "../components/Graph_APL.astro"


let dpt = departements.features[Math.floor(Math.random() * departements.features.length)]?.properties?.nom ?? "Paris";
const search = await fetch(`https://geocoding-api.open-meteo.com/v1/search?name=${dpt}`)
.then(response => response.json());
const lat = search?.results?.[0]?.latitude ?? 0;
const long = search?.results?.[0]?.longitude ?? 0;
console.log(search, long, lat);



let input = "";
let suggestions = [];
const handleSearch = ((e)=>{
  input += e.target.value;
})
---

<!-- str.normalize("NFD").replace(/[\u0300-\u036f]/g, ""); -->

<Layout>
  <div class="flex">
    <div class="grid grid-cols-3 *:h-fill grow-3">
      <div class="bg-(--color-black) rounded-xl md:rounded-2xl p-4 md:p-6 col-span-2 ">
          <Graph_APL />
      </div>
      <div class="bg-(--color-black) rounded-xl md:rounded-2xl p-4 md:p-6">
          <p class="text-gray-400 text-xs md:text-sm mb-2">Humidité</p>
          <p class="text-xl md:text-2xl font-bold">46%</p>
      </div>
      <div class="bg-(--color-black) rounded-xl md:rounded-2xl p-4 md:p-6 col-span-3">
          <p class="text-gray-400 text-xs md:text-sm mb-2">Humidité</p>
          <p class="text-xl md:text-2xl font-bold">46%</p>
      </div>
      <div class="bg-(--color-black) rounded-xl md:rounded-2xl p-4 md:p-6 ">
          <p class="text-gray-400 text-xs md:text-sm mb-2">Humidité</p>
          <p class="text-xl md:text-2xl font-bold">46%</p>
      </div>
      <div class="bg-(--color-black) rounded-xl md:rounded-2xl p-4 md:p-6 col-span-2">
          <GraphIST />
      </div>
    </div>
    <div>
      <div class="*:mx-2 *:rounded-lg">
        <input 
        onchange={(e) => handleSearch(e)}
        type="text"
        class="bg-(--color-white)">
        <button class="p-2 bg-(--color-black)">Rechercher</button>
      </div>
      <CarteMedecins />
    </div>
  </div>
</Layout>


<style>
  :global(svg g[aria-label^="tip"] text) {
    fill: black !important;
  }